{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<!--=================== section start ===================-->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}
        {{ range .Params.categories }}
        <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}" class="badge badge-primary mb-4 d-inline-block">{{. | title}}</a>
        {{ end }}
        <h1 class="h3 mb-4">{{.Title | markdownify}}</h1>
        <ul class="list-inline card-meta d-flex align-items-center mb-4">
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-user me-2"></i>
            <a href="{{`about` | relLangURL}}">{{site.Params.author}}</a>
          </li>
          <li class="list-inline-item d-flex align-items-center">
            <i class="fas fa-calendar me-2"></i>
            <span>{{ time.Format ":date_long" .PublishDate }}</span>
          </li>
        </ul>
<!-- Adsterra -->
<div style="margin-bottom: 25px;">

<div class="mobileShow">
  <script type="text/javascript">
    atOptions = {
      'key' : '554895581497f03b7677d8aa648af38b',
      'format' : 'iframe',
      'height' : 50,
      'width' : 320,
      'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/554895581497f03b7677d8aa648af38b/invoke.js"></scr' + 'ipt>');
  </script>
</div> 
<div class="mobileHide">
  <script type="text/javascript">
    atOptions = {
      'key' : '5ddba6adcd6839c1f1fe8e9934562b6a',
      'format' : 'iframe',
      'height' : 90,
      'width' : 728,
      'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/5ddba6adcd6839c1f1fe8e9934562b6a/invoke.js"></scr' + 'ipt>');
  </script>
</div>
  
</div>
        <div class="content drop-cap">{{.Content}}</div>
        <!-- disqus comments -->
        {{ if .Site.DisqusShortname }}
        <div class="border rounded p-4">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
      <!-- sidebar widgets -->
      <aside class="col-lg-4">
        {{ $widget:= site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . )}}
        <div>
          <script type="text/javascript">
            atOptions = {
              'key' : '554895581497f03b7677d8aa648af38b',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/554895581497f03b7677d8aa648af38b/invoke.js"></scr' + 'ipt>');
          </script>
          <script type="text/javascript">
            atOptions = {
              'key' : '554895581497f03b7677d8aa648af38b',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/554895581497f03b7677d8aa648af38b/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
      </aside>
    </div>
  </div>
</section>
<!--=================== section end ===================-->

<!--=================== section start ===================-->
<section class="section-sm pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="h4 title-border">Related Posts</h2>
        </div>
      </div>
    </div>

    <!-- related post -->
    <div class="row">
      {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
      {{ .Render "post" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!--=================== section end ===================-->

<!-- regular page -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}
