<header
  class="header bg-red border-bottom {{if site.Params.navbar_fixed}}sticky-top{{else}} position-relative{{end}}">
  <div class="container">
    <div class="row">
      {{ $bgImage:= resources.Get "images/map.png" }}
      {{ $bgImage:= $bgImage.Resize "400x webp" }}
      {{ $authImage:= resources.Get "images/aboutAuthor.png" }}
      
      <table width="100%">
        <thead>
          <tr>
            <th class="priority-1" width="60%" style="justify-content: center; text-align: center;">
              <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
                {{ partialCached "logo.html" . }}
              </a>
              <p style="color: white; font-size: 16px; margin-top: 20px; width: auto;">{{ site.Params.Description }}</p>
              <div style="justify-content: center; align-items: center;">
              <ul class="navbar-nav my-4 my-lg-0" style="display: table; text-align: center; margin: 0 auto">
                <!-- menu active -->
                {{ $currentPage := . }}
                {{ range site.Menus.main }}
                {{ $menuURL := .URL | absLangURL }}
                {{ $pageURL:= $currentPage.Permalink | absLangURL }}
                {{ $active := eq $menuURL $pageURL }}
                <li class="nav-item {{ if $active }}active{{ end }}" style="width: auto; display: table-cell;">
                  <a  style="width: auto; margin-left: 10px;" class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                    href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{ .URL }}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            </th>
            <th class="priority-2" width="10%" style="justify-content: center; text-align: center;"></th>
            <th class="priority-2" width="30%"  style="justify-content: center; text-align: center;">
              <picture>
                <img loading="lazy" decoding="async" style="border-radius:99999px;border: 2px solid white;" src="{{$authImage.RelPermalink}}"
                  alt="{{.Title}}" width="140px" height="140px">
              </picture>
              
              <!-- social -->
              <ul class="list-unstyled social-icons" style="margin-top: 20px;">
                {{ range site.Params.social }}
                <li class="list-inline-item">
                  <a href="{{ .link | safeURL }}"><i class="{{.icon}}"></i></a>
                </li>
                {{ end }}
              </ul>  
            </th>
          </tr>
        </thead>
      </table>
      </div>
    </div>
  </div>
</header>