{{ define "main" }}

<!--=================== banner section start ===================-->
<!--
{{ with site.Params.banner }}
{{ if .enable }}

<section class="banner text-center text-lg-start" >
  <div class="container">
    <div class="row align-items-center flex-column-reverse flex-lg-row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        {{ with .title_large }}<h1 class="banner-title mb-0">{{ . | markdownify }}</h1>{{ end }}
        {{ with .title_small }}<h2 class="h2 fw-normal mb-4">{{ . | markdownify}}</h2>{{ end }}
      </div>
      <div class="col-lg-1 mb-5 mb-lg-0"></div>
      <div class="col-lg-5 mb-5 mb-lg-1">
        <p class="mb-4 fs-6 text-light-600">{{.content | markdownify}}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
-->
<!--=================== banner section end ===================-->

<!--=================== blog section start ===================-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <!-- Adsterra -->
        <div style="margin-bottom: 25px;">
        <div class="mobileShow">
          <script type="text/javascript">
            atOptions = {
              'key' : '554895581497f03b7677d8aa648af38b',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/554895581497f03b7677d8aa648af38b/invoke.js"></scr' + 'ipt>');
          </script>
        </div> 
        <div class="mobileHide">
          <script type="text/javascript">
            atOptions = {
              'key' : '5ddba6adcd6839c1f1fe8e9934562b6a',
              'format' : 'iframe',
              'height' : 90,
              'width' : 728,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/5ddba6adcd6839c1f1fe8e9934562b6a/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
        </div>
        <!-- advertisement -->
        {{ with site.Params.advertisement }}
        <div class="mb-5">
          <a href="{{.link | absLangURL}}">
            {{ $image:= resources.Get .image }}
            <img class="img-fluid w-100" width="858" height="123" src="{{ $image.RelPermalink }}" alt="image">
          </a>
        </div>
        {{ end }}
        <!-- /advertisement -->


        <div class="border pt-4 mb-5 rounded">
          {{with site.Params.recent_post_title}}
          <div class="section-title" style="text-align: center;">
            <h2 class="h4 title-border">{{ . | markdownify}}</h2>
          </div>
          {{end}}
          <div class="row mx-0 g-5">
            <!-- recent post -->
            {{ $paginator:= .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections ) }}
            {{ range $paginator.Pages }}
            <div class="col-sm-12">
              {{ .Render "post" }}
            </div>
            {{ end }}
          </div>
        </div>

        <!-- custom pagination -->
        {{ $paginator := .Paginator }}
        <!-- Number of links either side of the current page. -->
        {{ $adjacent_links := 2 }}
        <!-- $max_links = ($adjacent_links * 2) + 1 -->
        {{ $max_links := (add (mul $adjacent_links 2) 1) }}
        <!-- $lower_limit = $adjacent_links + 1 -->
        {{ $lower_limit := (add $adjacent_links 1) }}
        <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
        {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
        <!-- If there's more than one page. -->
        {{ if gt $paginator.TotalPages 1 }}
        <nav aria-label="Page navigation">
          <ul class="pagination align-items-center justify-content-center">
            <!-- Previous page. -->
            {{ if $paginator.HasPrev }}
            <li class="page-item prev d-flex align-items-center">
              <a class="page-link disabled" href="{{ $paginator.Prev.URL }}" aria-label="Pagination Arrow"><i
                  class="fas fa-arrow-left me-3"></i><span class="d-none d-sm-inline">Previous</span>
              </a>
            </li>
            {{ else }}
            <li class="page-item prev d-flex align-items-center disabled">
              <span class="page-link disabled" aria-label="Pagination Arrow"><i
                  class="fas fa-arrow-left me-3"></i><span class="d-none d-sm-inline">Previous</span>
              </span>
            </li>
            {{ end }}
            <!-- Page numbers. -->
            {{ range $paginator.Pagers }}
            {{ $.Scratch.Set "page_number_flag" false }}
            <!-- Advanced page numbers. -->
            {{ if gt $paginator.TotalPages $max_links }}
            <!-- Lower limit pages. -->
            <!-- If the user is on a page which is in the lower limit.  -->
            {{ if le $paginator.PageNumber $lower_limit }}
            <!-- If the current loop page is less than max_links. -->
            {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}
            <!-- Upper limit pages. -->
            <!-- If the user is on a page which is in the upper limit. -->
            {{ else if ge $paginator.PageNumber $upper_limit }}
            <!-- If the current loop page is greater than total pages minus $max_links -->
            {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}
            <!-- Middle pages. -->
            {{ else }}
            {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}
            {{ end }}
            <!-- Simple page numbers. -->
            {{ else }}
            {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}
            <!-- Output page numbers. -->
            {{ if eq ($.Scratch.Get "page_number_flag") true }}
            <li class="page-item">
              <a href="{{ .URL }}" class="page-link {{if eq . $paginator}}active{{end}}">
                {{ .PageNumber }}
              </a>
            </li>
            {{ end }}
            {{ end }}
            <!-- Next page. -->
            {{ if $paginator.HasNext }}
            <li class="page-item next d-flex align-items-center">
              <a class="page-link arrow" href="{{ $paginator.Next.URL }}" aria-label="Pagination"><span class="d-none d-sm-inline">Next</span><i
                  class="fas fa-arrow-right ms-3"></i>
              </a>
            </li>
            {{ else }}
            <li class="page-item next d-flex align-items-center disabled">
              <span class="page-link arrow" aria-label="Pagination"><span class="d-none d-sm-inline">Next</span><i class="fas fa-arrow-right ms-3"></i>
              </span>
            </li>
            {{ end }}
          </ul>
        </nav>
        {{ end }}
      </div>

      <!-- sidebar widgets -->
      <aside class="col-lg-4">
        {{ $widget:= site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . )}}
        <div>
          <script type="text/javascript">
            atOptions = {
              'key' : '554895581497f03b7677d8aa648af38b',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/554895581497f03b7677d8aa648af38b/invoke.js"></scr' + 'ipt>');
          </script>
          <script type="text/javascript">
            atOptions = {
              'key' : '554895581497f03b7677d8aa648af38b',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplayformat.com/554895581497f03b7677d8aa648af38b/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
      </aside>
    </div>
  </div>
</section>
<!--=================== blog section end ===================-->

{{ end }}
